<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.thomas.security.persistence.PermissionMapper">

    <cache/>

    <select id="getActionValue" parameterType="permission" resultType="int">
        SELECT value FROM security_permission WHERE resource = #{resource} AND action = #{action}
    </select>

    <select id="findAllResources" resultType="String">
        SELECT DISTINCT resource FROM security_permission
    </select>

    <select id="findPermissionsByResource" parameterType="String" resultType="permission">
        SELECT id, resource, action, value FROM security_permission WHERE resource = #{resource}
    </select>

    <update id="updateActionValue" parameterType="permission">
        UPDATE security_permission SET value = #{value} WHERE resource = #{resource} AND action = #{action}
    </update>

</mapper>